*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flexbox;
}

html{
    scroll-behavior: smooth;
}
body{
overflow-x: hidden;
}
.header{
    position: absolute;
height:70px;
position: fixed;
top: 0;
left:0;
width:100%;
display:flex;
justify-content: space-between;
align-items: center;
transition: 0.6s;
padding: 40px 100px;
z-index:1;
}

.header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    
}
a:link { text-decoration: none; 
}

ul li{
    position:relative;
    list-style: none;
}

ul li a{
    color: #1D1B19;
}

a:hover{
    opacity: 0.5;
}

.header .logo{
position: absolute;
left: 9.79%;
right: 77.01%;
top: 40px;
bottom: 91.11%;
font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 130%;
color: #13395B;
text-decoration: none;
}


.nav-items{
position: relative;
width: 54px;
height: 23px;
left: 550px;
top: 20px;
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 23px;
align-items: center;
color: #1D1B19;
justify-content: space-around;
gap:4.5rem;
}

 .header .btn{
position: absolute;
width: 110px;
height: 40px;
left: 81rem;
top: 40px;
justify-content: center;
background: linear-gradient(180deg, #E9C46B 0%, #F3A261 100%);
border-radius: 8px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
display: flex;
align-items: center;
text-align: center;
color: #333333;

}

.section{
border:none;
height:1300px;
width:500px;
position: relative;
}


h1{
position: relative;
top:50px;
left:-150px;
width: 669px;
height: 87px;
display: flex;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 72px;
line-height: 87px;
color: #13395B;
animation: heading 2s ease-out;
animation-fill-mode: forwards;
}

@keyframes heading {
    0%{
        transform: scale(0, 0);
    }
    40%{
        transform: scale(0, 0);
    }

    100%{
        transform: scale(0.8,0.8);
    }
}

.section_p{
    position: absolute;
    width: 479px;
    height: 19px;
    left: -70px;
    top: 210px;
    justify-content: center;
    place-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #333333;
    animation: pline 2s linear;
    animation-fill-mode: forwards;
    animation-duration: 4s;
    }
    
    @keyframes pline {
        0%{
            transform: scale(0, 0);
        }
        20%{
            transform: scale(0, 0);
        }
    
        100%{
            transform: scale(0.9,0.9);
        }
    }
    

    .section-img{
        position: relative;
        top: 180px;
    }

.section-img img{
    width: 150px;
    height: 83px;
    left: 690px;
    animation: slide 1s ease-out;
    animation-fill-mode: forwards;
    animation-duration: 1.8s;
    z-index: 1;
}

@keyframes slide {
 0%{
        transform: translate(0,0);
    }
    
    50%{
        transform: translate(0, 340px);
    }

    100%{
        transform:translate(0, 475px);
    }
}

.div-circle{
    box-sizing: border-box;
    position: absolute;
    width: 250px;
    height: 250px;
    left: 650px;
    top: 270px;
    border: 4px solid #13395B;
    border-radius: 150px;
    animation: circle 1s linear;
    animation-fill-mode: forwards;
    z-index: -1;
}

@keyframes circle {
    from{
        width: 250px;
        height: 250px;
        left: 640px;
        top: 270px;
        bottom:200px;
        border-radius: 150px;
        }
        
        to{
            width:350px;
            height: 350px;
            left:600px;
            top: 240px;
            border-radius: 200px;
        }
    }


.section-img2 img{
    size: 100%;
position: absolute;
width: 191px;
height: 450px;
left: 670px;
top: 515px;
animation: Bottleslide 1.8s ease-out;
animation-fill-mode: forwards;
}

@keyframes Bottleslide {
    0%{
        transform: translate(0,0);
    }
    
    50%{
        transform: translate(0,0); 
    }

    100%{
        transform:translate(0, 140px);
    }
}

.div{
    border-style: none;
    background-color: #E9C46B;
    height: 550px;
    width: fit-content;
}

 .btn1{
position: absolute;
width: 120px;
top: 500px;
height: 30px;
left: 100px;
background: linear-gradient(180deg, #E9C46B 0%, #F3A261 100%);
border-radius: 6px;
justify-content: center;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
display: flex;
align-items: center;
text-align: center;
color: #333333;
animation: buttonSlide 2s linear;
animation-fill-mode: forwards;
animation-duration: 4s;
}

@keyframes buttonSlide {

    from{

        transform: translate(0,0);
    }

    to{
        transform: translate(0,-250px);
    }
    
}

#slideUp{
    top: 0px;
    z-index: 1;
}

#ourWork{
    top: 0px;
    z-index: 1;
}


.section-div{
    position: relative;
    margin-left: 0px;
    width:100%;
    justify-content: center;
    place-items: center;
    display: flex;
    border-style: none;
    height: 600px;
    width: 100%;
    background: linear-gradient(180deg, rgba(28, 91, 79, 0.2) 0%, rgba(28, 142, 128, 0.2) 100%), radial-gradient(81.25% 325% at 14.27% 29.03%, #565859 9.84%, rgba(17, 24, 30, 0.98) 65.12%) ;
    /* animation: bottleBg 1s ease-out; */
    animation-duration: 2s;
}

@keyframes bottleBg {
    0%{
        transform: translate(0, -200px);
       
    }

    100%{
        transform: translate(0,0);
       
    }
}

.section-div p{
    width: 473px;
    height: 232px;
    left: 524px;
    margin-top: 5px;
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    justify-content: center;
    font-weight: 700;
    font-size: 96px;
    line-height: 116px;
    align-items: center;
    text-align: center;
    color: #ffffff;
    animation: divP 1s linear;
}

@keyframes divP {
    from{
        transform:translate(0,400px);
    }

    to{
        transform: translate(0,0);
    }
}

.section_ul{
display: inline-block;
width: 229px;
height: 800px;
top: 80px;
left:-310px;
animation: bottleSlide 1s ease-out;
}

@keyframes bottleSlide{
    0%{
       
       transform: translate(-200px,200px);
        min-height: 0px;
        min-width: none;width: 0px;
       
    }

    100%{
        
        transform: translate(0,0);
        width: 229px;
        height: 800px;
       
    }
}

#ul-container{
    position: relative;
    top: 0px;
}
.section_ul1{
    display: inline-block;
    width: 229px;
    height: 800px;
    top: 10px;
    left:-150px;
    padding-right: 100px;
    animation: bottleSlide1 1s ease-out;
    }


    @keyframes bottleSlide1{
        0%{
           
           transform: translate(300px,-200px);
           z-index: 0;
           
        }
    
        100%{
            
            transform: translate(0,0);
           z-index: 1;
           
        }
    }

    .section_ul2{
        display: inline-block;
        width: 229px;
        height: 800px;
        top: 185px;
        left:-120px;
        animation: bottleSlide 1s ease-out;
        }


 .section_ul3{
            display: inline-block;
            width: 229px;
            height: 800px;
            bottom: 40px;
            left:160px;
            padding-right:220px;
            animation: bottleSlide1 1s ease-out;
            }


        
.section-ul li, img{
    position: absolute;
    list-style: none;
}


.section4-div{
    margin-top: 100px;
    position: absolute;
    width:100%;
   border: none;
    height: 500px;
    left: 0px;
    padding-bottom: 50px;
}

.p1{
position: relative;
font-family: 'Lato';
font-style: italic;
font-weight: 900;
font-size: 55px;
color: #13395B;
top:50px;
left: 110px;
}

  .blink{ 
    border: 2px solid  #13395B;
    margin-left: -50px;
    position: absolute;
    margin-top: -30px;    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 65px;
    height: 1px;
    width: 17px;
    animation: blink_t 1s steps(1, end) infinite;
 }
 @keyframes blink_t {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
 
.section4-div .sec-table{
 left: 450px;
 position: absolute;
     display: grid;
     flex-wrap: wrap;
     grid-template-columns: repeat(2, auto);
     width:1100px;
     height: 500px;
     border:none;
     top: 10px;
  }


.section4-div .inner-sec-i{
    display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;   
 height: 250px;
 width: 350px;
 box-sizing: border-box;
 }

 .section4-div .inner-sec-i i{
justify-content: start;
align-items: start;
text-align: start;
width: 290px;
height: 216px;
left: 10px;
top: 10px;
font-family: 'Lato';
font-style: normal;
font-weight: 800;
font-size: 180px;
color: #E5E5E5;
 }

 .section4-div .inner-sec-i p{
    z-index: 1;
justify-content: start;
text-align: start;
    color: #13395B;
width: 180px;
height: 68px;
margin-left: -250px;
top: -5px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 28px;
align-items: start;
color: #13395B;
 }

 .inner-grid-i .read-a {
    margin-left: 125px;
    margin-top: -10px;
position: absolute;
    justify-content: end;
text-align: end;
    color: #13395B;
width: 180px;
height: 68px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 25px;
align-items: end;
color: #13395B;
 }

 .section4-div .inner-sec-i .inner-sec-p {
    position: relative;
width: 361px;
height: 44px;
margin-top: 100px;
font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 18px;
left: 75px;
align-items: start;
justify-content: start;
text-align: start;
color: #969696;
 }

 .outer-grid {
   margin-top: 650px;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: auto auto auto;
    width:90%;
    margin-left: 80px;
 }
  .inner-grid {

    width: 410px;
height: 254.04px;

 }
  .inner-grid img {
    width: 455px;
    height: 250.04px;
 }

  .inner-grid-i{
    background: #F5F5F5;
    width: 455px;
    height: 254.04px;

 }
  .inner-grid-i i{
    margin-left: 170px;
    width: 133px;
    height: 216px;    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 180px;
    line-height: 216px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #D9D9D9;
  
 }

  .inner-grid-i p{
    width: 299px;
    height: 87px;
    z-index: 1;
    margin-top: -150px;
    margin-left: 90px;
    justify-content: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #13395B;
 }

 .inner-grid-i a{
    width: 299px;
    height: 87px;
    z-index: 1;
    margin-top: -43px;
    margin-left: 90px;
    justify-content: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    align-items: center;
    text-align: center;
    color: #13395B;
 }
 .section-testimonial{
    margin-top: 100px;
    width: 1520px;
    height:700px;
    background: linear-gradient(180deg, #00243E 0%, #01ADEB 100%), linear-gradient(180deg, #1C5B4F 0%, #1C8E80 100%), #FFFFFF; 
display: flex;
}

.section-testimonial p{
width: 300px;
height: 39px;
margin-left: 599px;
margin-top: 38px;
font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 32px;
line-height: 39px;
text-transform: uppercase;
color: #ffffff;
 }

  .section-testimonial .blink{
    border: 2px solid  #ffffff;
    margin-top: 3114px;
    position: absolute;
    z-index: 1;
    left: 58.5%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 65px;
    height: 1px;
    width: 17px;
    animation: blink_t 1s steps(1, end) infinite;
 }
 @keyframes blink_t {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

 .card-section{
position: absolute;
box-sizing: border-box;
width: 328.87px;
height: 211.25px;
background-image: url(/images/bg_img.jpeg);
background: radial-gradient( #ffffff08 0%, #ffffff37 100%, #0a7abf00 100%, #ffffff0a 70%, #0f0f0f07 100%, #1515152b 0%);
mix-blend-mode:lighten;
border-radius: 9.67265px;
margin-top: 250px;
margin-left: 100px;
 }

 .card-section p{
    margin-left: 20px;
    margin-top:55px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    color:white;
    z-index: 1;
     }

 .card-section1{
    position: absolute;
    box-sizing: border-box;
    width: 459.13px;
    height: 294.92px;
    background-image: url(/images/bg_img.jpeg);
    background: radial-gradient( #ffffff08 0%, #ffffff37 100%, #0a7abf00 100%, #ffffff0a 70%, #0f0f0f07 100%, #1515152b 0%);
    mix-blend-mode:lighten;
    border-radius: 9.67265px;
    margin-top: 200px;
    margin-left: 540px;
    justify-content: center;
    place-items: center;
     }

     .card-section1 p{
        margin-left: 40px;
        margin-top:60px;
        width: 400px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color:white;
        z-index: 1;
         }
    

     .card-section2{
        position: absolute;
        box-sizing: border-box;
        width: 328.87px;
        height: 211.25px;
        background-image: url(/images/bg_img.jpeg);
        background: radial-gradient( #ffffff08 0%, #ffffff37 100%, #0a7abf00 100%, #ffffff0a 70%, #0f0f0f07 100%, #1515152b 0%);
        mix-blend-mode:lighten;
        border-radius: 9.67265px;
        margin-top: 250px;
        margin-left: 1100px;
         }

         .card-section2 p{
            margin-left: 20px;
            margin-top:55px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 11px;
            line-height: 16px;
            color:white;
            z-index: 1;
             }
        
        

 .eclipse-big{
    position: absolute;
border-radius: 100px;
width: 170.2px;
height: 170.2px;
background: linear-gradient(180deg, #E7F8FF 0%, #3ECCB7 100%);
transform: rotate(-62.97deg);
left: 850px;
margin-top: 100px;
z-index: -0.2;
opacity: 0.8;
 }

 .eclipse-big-small{
position: absolute;
border-radius: 100px;
width: 91.05px;
height: 91.05px;
left: 60px;
margin-top: 230px;
background: linear-gradient(180deg, #E7F8FF 0%, #3ECCB7 100%);
transform: rotate(-62.97deg);
 }

 .eclipse-small{
position: absolute;
border-radius: 100px;
width: 122.51px;
height: 122.51px;
left: 600px;
background: linear-gradient(180deg, #015DB1 0%, #73FFFF 100%);
transform: rotate(-62.97deg);
margin-top: 430px;
 }

 .eclipse-small-2{
    position: absolute;
width: 54.87px;
height: 54.87px;
left: 1350.5px;
margin-top: 435px;
border-radius: 100px;
background: linear-gradient(180deg, #015DB1 0%, #73FFFF 100%);
transform: rotate(-62.97deg);
     }


     .section-footer{
        width: 100%;
        height: 370px;
        left: 0px;
        top: 800px;
        background: #fffefe;
         }
     .footer-table{
position: absolute;
        display: flex;
        z-index: 1;
        height: 300px;
     }

.footer-table thead{
    margin-top: 100px;
justify-content: start;
text-align: start;
align-items: start;
width: 500px;
height: 29px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
color: #000000;
margin-bottom: 20px;
     }

     .footer-table thead tr{
       display: flex;
        width: 103px;
        height: 22px;
     }

     .footer-table tr td{
        margin-top: 20px;
        justify-content: start;
        text-align: start;
        align-items: start;
        left: 80px;
        width: 280px;
        height: 50px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;        
        color: #272727;
        
     }


     .section-footer p{
        padding-top: 110px;
       position: absolute;
        margin-left: 890px;
width: 297px;
height: 29px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
color: #000000;

     }

     .section-footer input{
        box-sizing: border-box;
margin-top: 160px;
position: absolute;
width: 560px;
height: 56px;
left: 885px;
background: #FFFFFF;
border: 1px solid #000000;
border-radius: 29px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
padding-left: 50px;
color: #747677;
     }

     .section-footer .btn{
box-sizing: border-box;
margin-top: 162.5px;
display: flex;
justify-content: center;
margin-left: 1322px;
position: absolute;
width: 120px;
height: 51px;
background: linear-gradient(180deg, #004E84 0%, #01ADEB 100%);
border: 1px solid #1C7063;
border-radius: 29px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
align-items: center;
text-align: center;
color: #FFFFFF;


}


 .footer-wave1{
    position: absolute;
    background-size: 30% 25%;
    width: 500%;
height: 100%;
background-repeat:repeat-x;
    background-image: url(/images/wave1.png);
    margin-top: -88px;
    animation: wavy  4s linear infinite;
    animation-duration: 3s;
}

.footer-wave2{
    position: absolute;
    background-size: 130% 30%;
    width: 105%;
    height: 100%;
background-repeat:repeat-x;
    background-image: url(/images/wave2.png);
    margin-top: -25px;
    left: -18px;
    animation: wavy  2s linear infinite;
    animation-duration: 8s;
}

.footer-wave3{
    background-size: 130% 30%;
    position: absolute;
    width: 105%;
height: 100%;
background-repeat:repeat-x;
    background-image: url(/images/wave3.png);
    display: flex;
    margin-top: -8px;
    animation: wavy  3s linear infinite; 
    animation-duration: 3s;
}


@keyframes wavy {
    0%{
        background-position-x: 0px;
    }

    100%{
        background-position-x: -400px;
        
    }
}

.footer-copyright{
    position: absolute;
    width: 230px;
height: 19px;
left: 103px;
margin-top: 130px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #ffffff;

}

.footer-TC{
    position: absolute;
    width: 33px;
    height: 19px;
    left: 1159px;
    margin-top: 130px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    
}

.footer-privacy{
    position: absolute;
width: 107px;
height: 19px;
left: 1256px;
margin-top: 130px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;

}

.footer-outer-grid{
    position: absolute;
    margin-top: 120px;
    left: 650px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    width:12%;
}

.footer-inner-grid{
    border-radius: 25px;
    width: 30px;
    height: 30.04px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-inner-grid img{
    position: absolute;
    width: 12px;
    top: 8.5px;
margin-left: -6.5px;
}